@tailwind base;

body {
    background: #e9e9eb;
}

h1 {
    @apply mt-10 text-center text-4xl border-t font-serif px-5 py-3 leading-10;
}

h2 {
    @apply mt-10 text-center text-2xl border-t font-serif px-5 py-3 leading-8;
}

h3 {
    @apply mt-8 text-center text-xl border-t font-serif px-5 py-3 leading-6;
}

p, ul {
    @apply text-lg font-serif pl-3 pr-4 py-3 w-11/12 my-4 mx-auto;
}

p.glue-top {
    @apply pt-0;
}

a.link, a.link:visited {
    @apply italic text-blue-600 border-b;
}

@screen md {
    p, ul {
        @apply w-3/4;
    }
}

@screen lg {
    p, ul {
        @apply w-1/2;
    }
}

@screen xl {
    p, ul {
        @apply w-1/3;
    }
}

ul {
    @apply pl-10 pt-0;
}

div.code {
    @apply pt-12 pb-10 w-full overflow-x-scroll;
    background: #2c2c2c;
}

div.code ul li {
    @apply whitespace-no-wrap;
    font-family: monospace;
}

div.code ul li span {
    @apply text-lg;
}

div.code ul span.variable {
    color: #a09be7;
}

div.code ul span.keyword {
    color: #ea5271;
}

div.code ul span.string {
    color: #49a078;
}

div.code ul span.class {
    color: #79addc;
}

div.code ul span.char {
    color: #e9e9e9;
}

div.code ul span.method {
    color: #f7c548;
}

div.code ul span.intent {
    display: inline-block;
    width: 50px;
}

@tailwind components;
@tailwind utilities;
