@tailwind base;

@font-face {
    font-family: "Libre Baskerville";
    src: url("~assets/fonts/LibreBaskerville-Regular.woff2") format("woff2"),
    url("~assets/fonts/LibreBaskerville-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("~assets/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("~assets/fonts/SourceCodePro-Regular.woff") format("woff");
    font-display: swap;
}

body {
    background: #e9e9eb;
    color: #2a2a2a;
}

h1 {
    @apply mt-10 text-4xl font-serif pt-3 leading-snug w-11/12 mx-auto;
    font-family: "Libre Baskerville", serif;
}

h2 {
    @apply mt-10 text-2xl font-serif pt-3 leading-8 w-11/12 mx-auto;
    font-family: "Libre Baskerville", serif;
}

h3 {
    @apply mt-8 text-xl font-serif pt-3 leading-6 w-11/12 mx-auto;
    font-family: "Libre Baskerville", serif;
}

p, ul, ol {
    @apply text-base font-serif pb-3 w-11/12 my-4 mx-auto leading-loose;
    font-family: "Libre Baskerville", serif;
}

p.glue-top {
    @apply pt-0;
}

a.link, a.link:visited {
    @apply text-blue-600 border-b cursor-pointer;
    border-color: #cccccc;
}

@screen md {
    h1, h2, h3, p, ul.main, ol.main {
        @apply w-3/4;
    }
}

@screen lg {
    h1, h2, h3, p, ul.main, ol.main {
        @apply w-1/2;
    }
}

@screen xl {
    h1, h2, h3, p, ul.main, ol.main {
        @apply w-1/3;
    }
}

ol.main {
    @apply pl-10;
}

ol.main > li {
    @apply pl-3;
}

.toc {
    @apply py-4;
    background: #ddd;
}

ul {
    @apply pl-10 pt-0 my-0;
}

div.code {
    @apply py-10 mb-8 w-full overflow-x-scroll;
    background: #2c2c2c;
}

div.code ul {
    @apply px-0 py-0;
}

div.code ul li {
    @apply whitespace-no-wrap;
    font-family: "Source Code Pro", monospace;
}

div.code ul li span {
    @apply text-sm;
}

div.code ul span.variable {
    color: #a09be7;
}

div.code ul span.keyword {
    color: #ea5271;
}

div.code ul span.string {
    color: #49a078;
}

div.code ul span.class {
    color: #79addc;
}

div.code ul span.char {
    color: #e9e9e9;
}

div.code ul span.method {
    color: #f7c548;
}

#logo {
    filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(356deg) brightness(97%) contrast(91%);
}

@tailwind components;
@tailwind utilities;
